@import "tailwindcss";

* {
  font-family: Poppins, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
@custom-variant dark (&:where(.dark, .dark *));

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-aos="spin"] {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
}
