@import "tailwindcss";
@config "../tailwind.config.js";

/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */
@layer components {
  .header {
    @apply text-light-txtheader dark:text-dark-txtheader;
  }
  .button {
    @apply bg-light-buttonbg text-dark-text dark:bg-dark-buttonbg dark:text-light-text;
  }
  .type-writer {
    @apply text-light-text dark:text-dark-text;
  }
  .link {
    @apply text-light-txtlink dark:text-dark-txtlink;
  }
  .icon {
    @apply text-light-text dark:text-dark-text;
  }
  .hr {
    @apply border-light-text dark:border-dark-text;
  }
  .card {
    @apply bg-light-cardbg dark:bg-dark-cardbg;
  }
  .custom-container {
    @apply bg-light-containerbg dark:bg-dark-containerbg;
  }
  .mobile-menu {
    @apply bg-light-navbarbg dark:bg-dark-navbarbg;
  }
  .navbar {
    @apply bg-light-navbarbg dark:bg-dark-navbarbg;
  }
  .form {
    @apply bg-light-formbg dark:bg-dark-formbg;
  }
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
